<h1>Admin Dashboard</h1>
<p>There are <%= @num_of_products %> <%= link_to 'products',  [:admin, :products] %> in the store.</p>
<p>There are <%= @num_of_categories %> <%= link_to 'categories',  [:admin, :categories] %> in the store.</p>
