<tr>
  <td>
    <h4><%= category.name %></h4>
  </td>
  <td>
  Examine the Admin » Products functionality. The Admin » Categories one should look very similar, except that it should list category details--what are the details?? created at?
  </td>

</tr>
