// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

//Nav bar adjustments
.signed-in {
  display: block;
  color: #777;
  line-height: 20px;
  position: relative;
  padding: 10px 15px;
}
